:host {
  display: block;
  // --padding: var(--mm-padding);
}

.badge {
  display: inline-flex;
  height: calc(var(--mm-font-size-base) + calc(var(--mm-padding) / 2));
  font-size: 85%;
  background-color: var(--mm-background);
  // padding: calc(var(--mm-padding) / 2) var(--mm-padding);
  padding: calc(var(--mm-padding) / 2);
  border-radius: var(--mm-font-size-base);
  min-width: calc(var(--mm-padding) * 3);
  justify-content: center;
  align-items: center;
  box-shadow: var(--mm-shadow-l1);
}
