@import '../../global/variables.scss';

mm-header {
  color: var(--mm-color-light);
  header {
    position: relative;
  }
  h3 {
    margin: 0;
    text-align: center;
    padding: 65px;
    word-break: break-word;
  }
  .title {
    text-transform: uppercase;
    white-space: nowrap;
    @media screen and (max-width: $break-large) {
      padding-bottom: 45px;
      display: inline-block;
      font-size: 135%;
    }
  }
  .subtitle {
    font-weight: 400;
    margin-left: 1px;
    white-space: nowrap;
    @media screen and (max-width: $break-large) {
      display: inline-block;
      width: 100%;
      white-space: normal;
      font-size: 75%;
    }
  }

  .divider {
    @media screen and (max-width: $break-large) {
      display: none;
    }
  }
  .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -265px;
    margin-top: 6px;
    @media screen and (max-width: $break-large) {
      top: 0;
      margin-left: 5px;
      margin-top: 95px;
    }
  }
}
