@mixin color-modifiers($attribute: 'color', $prefix: '-', $separator: '-') {
  @each $name, $color in $colors {
    &#{$prefix}#{$name} {
      @each $tone, $hex in $color {
        &#{$separator}#{$tone} {
          //   #{$attribute}: $hex;
          #{$attribute}: var(--mm-color-#{$name}-#{$tone});
        }
      }
    }
  }
}

@mixin css-var-colors() {
  @each $name, $color in $colors {
    @each $tone, $hex in $color {
      --mm-color-#{$name}-#{$tone}: #{$hex};
    }
  }
}

@mixin padding-modifiers($side: 'side', $prefix: '-') {
  @for $i from 1 through 20 {
    &#{$prefix}#{$side}-#{$i} {
      padding: 0 calc(var(--mm-padding) * #{$i});
    }
    &#{$prefix}#{'tb'}-#{$i} {
      padding: calc(var(--mm-padding) * #{$i}) 0;
    }
  }
}
