.fly {
  animation: fly ease-in-out 3.5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: fly ease-in-out 3.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: fly ease-in-out 3.5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: fly ease-in-out 3.5s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: fly ease-in-out 3.5s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes fly {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@-moz-keyframes fly {
  0% {
    -moz-transform: translate(0px, 0px);
  }
  50% {
    -moz-transform: translate(0px, -10px);
  }
  100% {
    -moz-transform: translate(0px, 0px);
  }
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, -10px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

@-o-keyframes fly {
  0% {
    -o-transform: translate(0px, 0px);
  }
  50% {
    -o-transform: translate(0px, -10px);
  }
  100% {
    -o-transform: translate(0px, 0px);
  }
}

@-ms-keyframes fly {
  0% {
    -ms-transform: translate(0px, 0px);
  }
  50% {
    -ms-transform: translate(0px, -10px);
  }
  100% {
    -ms-transform: translate(0px, 0px);
  }
}
