@import './mixins';

.vh100 {
  height: 80vh; //100vh;
  // height: calc(100vh - var(--mm-padding));
}

.vh50 {
  height: 65vh;
}
.vh75 {
  height: 75vh;
}
.vh85 {
  height: 85vh;
  @media screen and (max-width: $break-large) {
    height: auto;
  }
}

.padding {
  @include padding-modifiers();
}
