* {
  box-sizing: border-box;
}

html {
  overflow: visible;
}

body {
  overflow: visible;
  margin: 0;
}

.content {
  // overflow: auto;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
