html {
  font-size: var(--mm-font-size);
  font-family: open-sans;
  color: var(--mm-color-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: var(--mm-font-size-h1);
}
h2 {
  font-size: var(--mm-font-size-h2);
}
h3 {
  font-size: var(--mm-font-size-h3);
  font-weight: 600;
}
h1,
h2,
h3 {
  font-family: Montserrat;
}
