:root {
  // MM Colors
  --mm-color-primary: #cb2c31;
  --mm-color-primary-shade: #cb2328;
  --mm-color-primary-tint: #cb3c41;
  --mm-color-secondary: red;
  --mm-tertiary: red;
  --mm-color-light: #ffffff;
  --mm-color-light-shade: #ffd7d8;

  --mm-background: #ffffff;

  // MM Font
  --mm-font-size-base: 14px;
  --mm-font-size-h1: 36px;
  --mm-font-size-h2: 28px;
  --mm-font-size-h3: 24px;

  // MM PADDINGS, MARGINS
  --mm-padding: 10px;

  // SHADOWS
  // SOURCE: https://codepen.io/sdthornton/pen/wBZdXq
  --mm-shadow-l1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --mm-shadow-l2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --mm-shadow-l3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --mm-shadow-l4: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --mm-shadow-l5: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);

  //   .card-1:hover {
  //     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  //   }
}
