$colors: (
  primary: (
    base: #cb2c31,
    shade: #cb2328,
    tint: #cb3c41
  ),
  secondary: (
    base: blue,
    shade: blue,
    tint: blue
  ),
  tertiary: (
    base: yellow,
    shade: yellow,
    tint: yellow
  )
);
