$colors: (
  primary: (
    base: #7510f7,
    shade: darken(#7510f7, 3%),
    tint: lighten(#7510f7, 3%)
  ),
  secondary: (
    base: #2e86ab,
    shade: darken(#2e86ab, 3%),
    tint: lighten(#2e86ab, 3%)
  ),
  tertiary: (
    base: #ffba08,
    shade: darken(#ffba08, 3%),
    tint: lighten(#ffba08, 3%)
  ),
  dark: (
    base: #141c3a,
    shade: darken(#141c3a, 3%),
    tint: lighten(#141c3a, 3%)
  ),
  light: (
    base: #ffffff,
    shade: darken(#ffffff, 4%),
    tint: lighten(#ffffff, 3%)
  )
);

$break-small: 320px;
$break-medium: 768px;
$break-large: 968px;
