$colors: (
  primary: (
    base: #7510f7,
    shade: #6a10dd,
    tint: #7f24f5
  ),
  secondary: (
    base: #2e86ab,
    shade: #2e86ab,
    tint: #2e86ab
  ),
  tertiary: (
    base: #ffba08,
    shade: #ffba08,
    tint: #ffba08
  ),
  dark: (
    base: #200445,
    shade: #200445,
    tint: #200445
  ),
  light: (
    base: #ffffff,
    shade: #e9e0f5,
    tint: #e9e0f5
  )
);

$break-small: 320px;
$break-large: 968px;
