@import '../../global/variables.scss';

:host {
}

.hero {
  padding-top: 80px;
  display: flex;
  align-items: center;

  img.legos {
    position: absolute;
    right: 19%;
    bottom: -66px;
    @media screen and (max-width: $break-large) {
      right: 0;
      max-width: 400px;
      bottom: 20px;
    }
  }
}
.manifest {
  max-width: 850px;
  margin: 0 auto;

  text-align: center;
  padding: 120px;
  position: relative;
  @media screen and (min-width: $break-large) {
    margin-right: 0;
    text-align: right;
    &:before {
      position: absolute;
      content: ' ';
      height: 50%;
      width: 2px;
      background-color: var(--mm-color-primary-base);
      left: 0;
      top: 25%;
    }
  }
  @media screen and (max-width: $break-large) {
    padding: calc(var(--mm-padding) * 3);
  }

  h1 {
    font-size: 50px;
    @media screen and (max-width: $break-large) {
      font-size: var(--mm-font-size-h1);
    }
    &:after {
      content: '“';
      font-family: Montserrat;
      right: 100px;
      position: absolute;
      @media screen and (max-width: $break-large) {
        right: unset;
        position: relative;
      }
    }
  }
}
.value {
  color: var(--mm-dark-shade);
  background-color: var(--mm-color-light-shade);
  padding: 0 3px;
  border-radius: 11px;
  border: 1px solid var(--mm-color-light-shade);
}

.overlap-container {
  background-color: var(--mm-color-light-base);
  padding: calc(var(--mm-padding) * 3);
  border-radius: calc(var(--mm-padding) * 3);
}

.matt {
  padding-top: 120px;
}
